.waves {
    bottom: -70rem;
    width: 100%;
    animation: Tidal 20s linear infinite;
    position: absolute;
    z-index: -4;
  }
  
  @keyframes Tidal {
    0%, 100% {
      bottom: -60rem;
    }
    50% {
      bottom: -70rem;
    }
  }

/*
    animation: shake 5s cubic-bezier(.36,.07,.19,.97) both;
    animation-iteration-count: infinite;
    transform: translate3d(0, 0, 0);
  }
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-10x, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(-8px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(0, 0, -10px );
    }
  
    40%, 60% {
      transform: translate3d(-8px, 0, 0);
    }
  } */

.info {
  display: flex;
  flex-direction: row;
  top: 8rem;
  left: 10rem;
  z-index: -1;
  position: fixed;
}

.contactTitle {
  font-size: 25px;
}
.contactDeets {
  font-size: 16px;
}

.email {
  margin-left: 4rem;
}

.images {
  margin-left: 10rem;
  margin-top: -2rem;
}

.jcImg {
  margin-left: 3rem;
} 

