.waves {
  bottom: -70rem;
  width: 100%;
  animation: Tidal 20s linear infinite;
  position: absolute;
  z-index: -4;
}

@keyframes Tidal {
  0%,
  100% {
    bottom: -30rem;
  }
  50% {
    bottom: -80rem;
  }
}

.info {
  position: fixed;
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 8rem 0 0 0;
  padding: 0 1rem;
  z-index: -1;
}

.who, .email {
  margin: 2rem 0 0 0;
}

.images {
  display: flex;
  flex-direction: row;
  margin: 2rem 0 0 0;
}

.contactTitle {
  font-size: 25px;
}
.contactDeets {
  font-size: 16px;
}

.jcImg {
  margin-left: 2rem;
}

@media only screen and (max-width: 1140px) {
  @keyframes Tidal {
    0%,
    100% {
      bottom: 0;
    }
    50% {
      bottom: -30rem;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .info {
    flex-direction: column;
    align-items: flex-start;
    margin: 5rem 0 0 0;
    padding: 10vw;
  }

  .who,
  .email {
    margin: 0;
  }

  .images {
    margin: 2rem 0 0 0;
    width: 100%;
  }

  .images img {
    width: 8rem;
    height: 8rem;
  }

  .jcImg {
    margin-left: 1rem;
  }
}

