.imageContainer {
    width: 60vw;
    display: flex;
    flex-direction: column;
}

.row {
    width: 60vw;
    display: flex;
    justify-content: space-between;
}

.cell {
    width: 30vw;
    position: relative;
}