.mobileContainer {
  width: 173px;
  height: 334px;
  background-image: url("/images/mobile-phone.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 1rem;
}

.screen {
  width: 85%;
}

@media only screen and (max-width: 600px) {
  .mobileContainer {
    width: 100px;
    height: 193px;
    margin-left: 0.25rem;
  }
}
