.projectContainer {
    margin: 10vw 5vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.imageColumn {
    width: 60vw;
    display: flex;
    justify-content: flex-end;
}

.textColumn {
    width: 30vw;
    padding: 0 0 0 20px;
}

.mob {
    display: flex;
}

@media only screen and (max-width: 900px) {
    .projPage {
        margin: 8rem;
    }
    .projectContainer {
        flex-direction: column;
        align-items: center;
    }
    .textColumn {
        width: 90vw;
        padding: .5rem 0 0 0 ;
        text-align: justify; 
    }
    .imageColumn {
        width: 90vw;
        justify-content: center;
    }
  }